body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

* {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  margin:0;
  padding:0;
  border:0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.dice {
  align-items: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  padding: 2rem;
  perspective: 600px;
}
.die-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 6rem;
  list-style-type: none;
  transform-style: preserve-3d;
  width: 6rem;
}
.even-roll {
  transition: transform 1.5s ease-out;
}
.odd-roll {
  transition: transform 1.25s ease-out;
}
.die-item {
  background-color: #3d15cd;
  box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3),
    inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  padding: 1rem;
  width: 100%;
}
.dot {
  align-self: center;
  background-color: #00ffeead;
  border-radius: 50%;
  box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
  display: block;
  height: 1.25rem;
  justify-self: center;
  width: 1.25rem;
}
.even-roll[data-roll="1"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="2"] {
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="3"] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}
.even-roll[data-roll="4"] {
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}
.even-roll[data-roll="5"] {
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="6"] {
  transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}
.odd-roll[data-roll="1"] {
  transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="2"] {
  transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="3"] {
  transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}
.odd-roll[data-roll="4"] {
  transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
}
.odd-roll[data-roll="5"] {
  transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="6"] {
  transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
}
[data-side="1"] {
  transform: rotate3d(0, 0, 0, 90deg) translateZ(4rem);
}
[data-side="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(4rem);
}
[data-side="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(4rem);
}
[data-side="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(4rem);
}
[data-side="5"] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(4rem);
}
[data-side="6"] {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(4rem);
}
[data-side="1"] .dot:nth-of-type(1) {
  grid-area: five;
}
[data-side="2"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="2"] .dot:nth-of-type(2) {
  grid-area: nine;
}
[data-side="3"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="3"] .dot:nth-of-type(2) {
  grid-area: five;
}
[data-side="3"] .dot:nth-of-type(3) {
  grid-area: nine;
}
[data-side="4"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="4"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="4"] .dot:nth-of-type(3) {
  grid-area: seven;
}
[data-side="4"] .dot:nth-of-type(4) {
  grid-area: nine;
}
[data-side="5"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="5"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="5"] .dot:nth-of-type(3) {
  grid-area: five;
}
[data-side="5"] .dot:nth-of-type(4) {
  grid-area: seven;
}
[data-side="5"] .dot:nth-of-type(5) {
  grid-area: nine;
}
[data-side="6"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="6"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="6"] .dot:nth-of-type(3) {
  grid-area: four;
}
[data-side="6"] .dot:nth-of-type(4) {
  grid-area: six;
}
[data-side="6"] .dot:nth-of-type(5) {
  grid-area: seven;
}
[data-side="6"] .dot:nth-of-type(6) {
  grid-area: nine;
}
.input {
  background-color: #1d1e29;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 1.2em;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  outline: none;
}

.input:focus {
  background-color: #0d0e16;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.input::placeholder {
  color: #fff;
  opacity: 0.7;
}

.input:hover,
.input:active {
  transform: translateY(-5px);
}
.button {
  background-color: #1d1e29;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 1.2em;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  outline: none;
  z-index: 3;
  margin:.25rem;
}

.button:hover {
  background-color: #3ef5f899;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}
.button:disabled {
  background-color: rgb(168, 172, 172);
  border-color: rgb(7, 7, 7);
  cursor:default;
}
.li {
  color: #fff;
  font-size: 1.2em;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  list-style: none;
  border-radius: 30px;
}

.li:hover {
  background-color: #3ef5f899;
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.li::before {
  content: ">";
  margin-right: 10px;
}

.li:first-child::before {
  content: "";
}

.li.active,
.li.current-page {
  background-color:  #3ef5f899;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}
.room_player {
  color: #fff;
  font-size: 1.2em;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  list-style: none;
  border-radius: 30px;

}
.dice_tray{
  position: absolute;
  top:10%;
  transform: scale(.5);
}

span {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 0 0 10px  #3ef5f899;
  animation: neon 1s ease-in-out infinite alternate;
}
@keyframes emerge {

0%
{ transform: scale(.15)
}
20%
{ transform: scale(.25)
}
40%
{ transform: scale(.45)
}
60%
{ transform: scale(.65)
}
80%
{ transform: scale(.85)
}
100%
{ transform: scale(1)
}
}
@keyframes neon {
  from {
    text-shadow: 0 0 10px  #3ef5f899, 0 0 20px  #3ef5f899, 0 0 30px  #3ef5f899, 0 0 40px  #3ef5f899;
  }
  to {
    text-shadow: 0 0 5px  #3ef5f899, 0 0 10px  #3ef5f899, 0 0 15px  #3ef5f899, 0 0 20px  #3ef5f899;
  }
}
.title {
  display:flex;

  font-family: 'Orbitron', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 0px 10px #00ffff, 0px 0px 20px #00ffff, 0px 0px 30px #00ffff;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
  animation: change-colors 5s ease-in-out infinite;
  
}
.currentScore {
  position: absolute;
  top: 0;
     right: 0;
    font-size: 2rem;
            display: flex;
            flex-direction: column;
}

@keyframes change-colors {
  0% {
    color: #ffffff;
  }
  25% {
    color: #00ffff;
  }
  50% {
    color: #ff00ff;
  }
  75% {
    color: #ffff00;
  }
  100% {
    color: #ffffff;
  }
}


div::-webkit-scrollbar {
  display: none;
}
.score_link {
  animation: change-colors 5s ease-in-out infinite;
  cursor: pointer;
}

.points{
 position: absolute;
top:0;
  transition: 1.5s;
  opacity:0;


}

/* Apply the animation to the element */
.points-gained {
  top:50vh;
  opacity: 1;
  
}
.fade-away {
  transform: translateY(50vh);
  opacity: 0;
  transition: .5s; 
  
}

.alert {
  background-color: #1d1e29;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 1.2em;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  outline: none;
  z-index: 3;
}

.alert:hover {
  background-color: #3ef5f899;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
  opacity: .2;
}
label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: .8rem;
  color: #fff;

}

input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  appearance: none;
  border-radius: 3px;
  border: 2px solid  #ff00ff;
  outline: none;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  background-color: #ef7cb3;
  border-radius: 2px;
}

input[type="checkbox"]:focus-visible {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
}
.chat-box {
  background-color: #171717;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(255, 0, 255, 0.5);
  width:60%;
  z-index: 4; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  animation: emerge .45s linear;
}
@media only screen and (max-width: 600px) {
  .chat-box {

    width:100%;
 
  }
  .title {
    flex-direction: column;
  }
  .dice_tray{
   transform: scale(.35);
   top:0;
   
  }
  .currentScore {
    position: absolute;
    top: 0;
       right: 0;
      font-size: 1rem;
              display: flex;
              flex-direction: column;
  }
}
.chat-box-header {
  background-color: #2E2E2E;
  color: #ff00ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;

}
.glowing-text {
  font-size: 4rem;
  color: #3ef5f899;
  font-weight: bold;
  text-shadow: 0 0 20px #8a2be2, 0 0 30px #8a2be2, 0 0 40px #8a2be2,
    0 0 50px #8a2be2, 0 0 60px #8a2be2, 0 0 70px #8a2be2, 0 0 80px #8a2be2;
  opacity: 0;
  transform: scale(0);
  transition: all 1s ease-in-out;
}

.grow {
  opacity: 1;
  transform: scale(1);
}

.fade {
  opacity: 0;
}

.chat-box-header h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.chat-box-body {
  min-height:50vh;
  max-height:50vh;
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
  display: flex;
  flex-direction: column-reverse;
}

.chat-message {
  background-color: #2E2E2E;
  border-radius: 5px;
  color: #ff00ff;
  padding: 10px;
  margin-bottom: 10px;
}

.chat-box-footer {
  background-color: #2E2E2E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
}

.chat-box-footer input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ff00ff;
  color: #ff00ff;
  flex: 1;
  font-size: 16px;
  margin-right: 10px;
  padding: 10px;
}

.chat-box-footer input[type="text"]::placeholder {
  color: #ff00ff;
}

.chat-box-footer button {
  background-color: #ff00ff;
  border: none;
  border-radius: 5px;
  color: #2E2E2E;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.chat-box-footer button:hover {
  background-color: #ff1493;
}

.bg_fade_wrapper {
  overflow-y:none;
  width: 100%;
  height: 100%;
	position:absolute;
  z-index: -1;
  background-color: #0d0e16;
}

.bg_fade{
	position: absolute; 
	width: 100%;
	height: 100%; 
	background-size: cover; 
	background-position: center center;
  letter-spacing: 0;
  word-spacing: 0;
  font-size: 0;
}

.bg {
  width: 100%;
	height: 100%; 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg_fade .bg1{
  opacity:0;
  position: absolute;
  animation-name: fade-zoom;
	animation-duration: 180s;
	animation-iteration-count: infinite;
  background-image: url("/backgroundSD-1.jpg");
	animation-delay: 0s;
}

.bg_fade .bg2{
  background-image: url("/backgroundSD-2.jpg");
  opacity:0;
  position: absolute;
  animation-name: fade-zoom;
	animation-duration: 180s;
	animation-iteration-count: infinite;
  animation-delay: 30s;
}

.bg_fade .bg3{
  background-image: url("/backgroundSD-3.jpg");
  opacity:0;
  position: absolute;
  animation-name: fade-zoom;
	animation-duration: 180s;
	animation-iteration-count: infinite;
  animation-delay: 60s;

}
.bg_fade .bg4{
  background-image: url("/backgroundSD-4.jpg");
  opacity:0;
  position: absolute;
  animation-name: fade-zoom;
	animation-duration: 180s;
	animation-iteration-count: infinite;
	animation-delay: 90s;
}

.bg_fade .bg5{
  background-image: url("/backgroundSD-5.jpg");
  opacity:0;
  position: absolute;
  animation-name: fade-zoom;
	animation-duration: 180s;
	animation-iteration-count: infinite;
  animation-delay: 120s;
}

.bg_fade .bg6{
  background-image: url("/backgroundSD-6.jpg");
  opacity:0;
  position: absolute;
  animation-name: fade-zoom;
	animation-duration: 180s;
	animation-iteration-count: infinite;
  animation-delay: 150s;

}


@keyframes fade-zoom {
	0% {
        opacity:0;

    }
	4.66% {
        opacity:1
    }
	33.33% {
        opacity:1
    }
	48.66% {
        opacity:0
    }
	100% {
        opacity:0; 

    }
}
