

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
}
/* .button {
  margin: 1rem;
  background-color: #f0f;
  border: 3px solid #0ff;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.button:hover {
  background-color: #0ff;
  border-color: #f0f;
  cursor: pointer;
} */

.home {
  height: 100vh;
  width: 100vw;
  font-weight: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 overflow: none;

}

.lofi {
    
    font-size: 4em;
    text-transform: uppercase;
    font-weight: bold;
     font-family: "Open Sans";
    font-family: Arial;
    color: transparent;
    position: relative;
    display: block;
    letter-spacing: -5px;
    -webkit-transform: rotate(-10deg) skew(-20deg);
    -ms-transform: rotate(-10deg) skew(-20deg);
    transform: rotate(-10deg) skew(-20deg);
    margin-bottom: -36px;
}

.letter {
  -webkit-text-stroke: 7px #00ffee;
    margin-top: -8px;
    display: inline-block;
    padding: 0 1px;
    -webkit-animation: glow 2.5s linear infinite;
    animation: glow 2.5s linear infinite;
}



@keyframes glow {
  0% { box-shadow: 0 0 -10px #c4a300; }
  40% { box-shadow: 0 0 20px #c4a300; }
  60% { box-shadow: 0 0 20px #c4a300; }
  100% { box-shadow: 0 0 -10px #c4a300; }
}

@keyframes glow {
  0% {
      -webkit-filter: drop-shadow(0 0 6px #CF33D9) drop-shadow(0 0 6px #CF33D9);
      filter: drop-shadow(0 0 6px #CF33D9) drop-shadow(0 0 6px #CF33D9);
  }
  50% {
      -webkit-filter: drop-shadow(0 0 1px #CF33D9) drop-shadow(0 0 1px #CF33D9);
      filter: drop-shadow(0 0 1px #CF33D9) drop-shadow(0 0 1px #CF33D9);
  }
  100% {
      -webkit-filter: drop-shadow(0 0 6px #CF33D9) drop-shadow(0 0 6px #CF33D9);
      filter: drop-shadow(0 0 6px #CF33D9) drop-shadow(0 0 6px #CF33D9);
  }
}